<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="author" content="Kjell Olsen">
  <link href="/mandolins/atom.xml" rel="alternate" title="Kjell Olsen, Mandolins" type="application/atom+xml">
  
  <link href="/mandolins/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="/mandolins/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
  <!--[if IE]>
      <link href="/mandolins/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
</head>
<body>

  <div id="forest">
    <a href="/mandolins"><img src="http://farm4.static.flickr.com/3413/3487997130_582e8cc8a2.jpg" alt="mandolins!"></a>
    <p>Mandolins. —Kjell Olsen. <a href="/mandolins/atom.xml">Atom</a>.</p>
  </div>
  
  <div id="trunk">
    {{ content }}
  </div>
</body>
</html>
