<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="author" content="Kjell Olsen">
  <link href="/mandolins/atom.xml" rel="alternate" title="Kjell Olsen, Mandolins" type="application/atom+xml">
</head>
<body>

  <div id="forest">
    <img src="http://farm4.static.flickr.com/3413/3487997130_582e8cc8a2.jpg" alt="mandolins!">
    <p>Mandolins. —Kjell Olsen. <a href="/mandolins/atom.xml">Atom</a>.</p>
  </div>
  
  <div id="trunk">
    {{ content }}
  </div>
</body>
</html>
