@import blueprint.sass
@import blueprint/modules/fancy_type.sass
@import compass/reset.sass
@import compass/utilities.sass

+blueprint

body
  background: #574143
  width: 57%
  position: absolute
  right: 5%

a
  color: #A52F21

#forest
  background-color: black
  padding: 2em
  
  img
    width: 100%

  a
    text-decoration: none
    
    &:hover
      color: white
      
  h1
    color: #235667
    text-align: right

  p
    margin: 0
    color: #574143
    text-align: right
    text-transform: lowercase

#trunk
  font-size: 111%
  background-color: white
  padding: 3em
  
  img
    width: 100%
